.client_list_name_email {
  display: flex;
  flex-grow: 2;
  gap: 50px;
}

.client_list_item_name {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.client_list_delete {
  cursor: pointer;
  display: flex;
  user-select: none;
  color: red;
  align-self: flex-end;
}

.client_expander {
  cursor: pointer;
  display: flex;
  user-select: none;
  border-bottom: 1px solid #a0a096;
  margin-top: 1px;
  margin-bottom: 5px;
}


.client_container {
  display: none;
}

.client_container.expand {
  display: block;
}

.client_list_name,
.client_list_email {
  flex-grow: 1;
}

.client_list_name {
  max-width: 20vw;
}