.nav-bar {
    background-color: rgb(223, 236, 236);
    margin-bottom: 1px;
    border: 1px solid #a0a096;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    width: 100%;
    text-align: center;
    align-content: center;
}

li:has(a:-webkit-any-link:hover) {
    background: rgb(197, 209, 209)
}

a:-webkit-any-link {
    color: rgb(93, 99, 99);
    text-decoration: none;
}

a:-webkit-any-link:hover {
    color: black;
}