.schedule_box {
    display: flex;
}

.left_column {
    flex: 0 0 30%;
    max-width: 350px;
}

.react-calendar {
    flex: 1;
}

.services_box {
    display: flex;
    flex: 1;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    min-width: 20vh;
}

.schedule_service_card {
    cursor: pointer;
    flex: 1;
    text-align: center;
    align-content: center;
    transition: 0.2s ease-in-out;
    border: 1px solid #a0a096;
    margin-bottom: 1px;
    margin-left: 1px;
    background: rgb(223, 236, 236);
    flex-grow: 2;
    max-height: 25px;
    text-transform: capitalize;
}

.active_service_box {
    flex: 1;
    border: 1px solid #a0a096;
    margin-top: 1px;
    background: rgb(223, 236, 236);

}

.schedule_service_card .show_on_hover {
    display: none;
}

.schedule_service_card .show_on_hover .status_owed {
    color: red;
}

.schedule_service_card .show_on_hover .status_paid {
    color: green;
}

.schedule_box .schedule_service_card:hover .show_on_hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.schedule_box .schedule_service_card:not(:hover) {
    font-size: small;
}


.schedule_box .schedule_service_card:hover {
    flex: 2;
    max-height: 50px;
    font-size: medium;
    background: rgb(197, 209, 209);
}

.services_box_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-left: 1px;
    background-color: rgb(223, 236, 236);
    border: 1px solid #a0a096;
}

.services_box_button:hover {
    background-color: rgb(197, 209, 209);
    font-weight: bold;
}

.active_service_box_service {
    text-align: center;
    text-transform: uppercase;
}

.active_service_box_client {
    text-align: center;
}

.active_service_box_price {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.active_service_box_price > p {
    margin: 0;
    flex: 1;
    text-align: center;
}

.active_service_box_price input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a0a096;
    width: 50px;
    text-align: center;
}

.active_service_box_price input:focus,
input:hover {
    background-color: rgb(197, 209, 209);
    outline: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"] {
    outline: none;
    accent-color: rgb(197, 209, 209);
    background: transparent;
    border: none;
    cursor: pointer;
}

.active_service_box_button_container {
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5px;
    align-items: center;
    background-color: transparent;
    border: none;
    border: 1px solid #a0a096;
    padding: 0;
}

.active_service_box_button {
    background-color: transparent;
    width: 100%;
    border: none;
    padding: 0;
}

.active_service_box_button:hover {
    background-color: rgb(197, 209, 209);
}


/* 
.services_box {
    border-left: none;
    min-width: 0;
}




.schedule_box .schedule_service_card:hover + .schedule_service_card {
    flex: 2;
    font-size: medium;
}




.active_service_box {
    align-self: flex-end;
    flex-basis: 100%;
    border: 1px solid #a0a096;
    border-top: none;
    flex-direction: row-reverse;
}

.schedule_create_invoice_box {
    align-self: flex-end;
    flex-basis: 100%;
    border: 1px solid #a0a096;
    border-top: none;
} */